---
import { SITE_NAME } from "../../config";
---

<header>
  <nav>
    <a href="/">{SITE_NAME}</a>
    <a href="/about">About</a>
    <a href="/articles">Articles</a>
    <a href="/categories">Categories</a>
  </nav>
</header>