---
import { SITE_NAME } from "../../config";
import Breadcrumbs from "../../components/react/Breadcrumbs.jsx";

const pathname = Astro.url.pathname;
---

<header>
  <nav>
    <a href="/">{SITE_NAME}</a>
    <a href="/about">About</a>
    <a href="/articles">Articles</a>
    <a href="/categories">Categories</a>

    <Breadcrumbs pathname={pathname} client:load />
  </nav>
</header>
